<!DOCTYPE html>
<html>
<head>
    <title>Applications List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>List of Jobs Applied For</h1>

    <!-- Search Form -->
    <form id="searchForm" action="/resumes" method="get">
        <input type="text" id="jobTitle" name="jobTitle" placeholder="Filter by Job Title">
        <input type="text" id="companyName" name="companyName" placeholder="Filter by Company Name">
        <!-- ... other input fields ... -->
        <button type="submit">Search</button>
    </form>

    <ul>
        <% resumes.forEach(function(resume) { %>
            <li>
                <%= resume.filename %> - 
                Position Applied For: <%= resume.jobTitle %>,
                Company Name: <%= resume.companyName %>,
                <a href="<%= resume.companyURL %>">Job Posting Website</a>,
                <a href="/download/<%= resume._id %>">Download Resume</a>,
                Uploaded On: <%= new Date(resume.dateUploaded).toLocaleDateString() %>
            </li>
        <% }) %>
    </ul>
    <a href="/">Back to Home</a>
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(event) {
            var jobTitle = document.getElementById('jobTitle').value;
            var companyName = document.getElementById('companyName').value;
            var stringRegex = /^[a-zA-Z\s]*$/;
    
            if (!stringRegex.test(jobTitle) || !stringRegex.test(companyName)) {
                alert('Please enter only letters and spaces in the Job Title and Company Name fields.');
                event.preventDefault(); // Prevent form submission
            }
        });
    </script>
</body>
</html>
